<h3 mat-subheader>Alle Artikel</h3>
<mat-table [dataSource]="articles" class="mat-elevation-z8" style="Width: 100%;">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
    <mat-cell *matCellDef="let i = index"> {{ i }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
        <a [href]="element.image.url"
          target="_blank">
            <img
              [src]="element.image.url"
              alt="{{ element.image?.name }}"
              class="img-responsive"
              style="max-height: 64px;">
        </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="imageName">
    <mat-header-cell *matHeaderCellDef> Name (Bild) </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{ element.image?.name }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
