<h3 mat-subheader>{{ title }}</h3>
<form [formGroup]="shoppingListForm" (ngSubmit)="onSubmit()">
  <div class="my-container">
    <mat-form-field>
      <input matInput placeholder="Name für Einkaufsliste" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Beschreibung"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <hr>
    <button mat-raised-button color="primary" type="submit" [disabled]="!shoppingListForm.valid">Erstellen</button>
  </div>
</form>
