<mat-card class="card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>{{ article.name }}</mat-card-title>
  </mat-card-header>
  <button class="top-right" mat-button (click)="deleteItem()">
      <mat-icon>close</mat-icon>        
    </button>
  <div class="card-image">
    <img mat-card-image [src]="article.image?.url" alt="EWE Logo Image">
  </div>
  <!-- <mat-card-content>
    {{ article.price }}
  </mat-card-content> -->
  <mat-card-actions>
    <mat-divider></mat-divider>
    <!-- <button mat-button (click)="deleteItem()">
      <mat-icon>close</mat-icon>        
    </button> -->
  </mat-card-actions>
</mat-card>