<mat-toolbar role="heading" color="secondary">
  <span>Einkaufslisten</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onViewHome()">
      <mat-icon>home</mat-icon>
      <span>Übersicht</span>
    </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="onViewShoppinglists()">
    <mat-icon>list</mat-icon>
    <span>Alle Listen</span>
  </button>
  <button mat-menu-item (click)="onViewArticles()">
    <mat-icon>view_module</mat-icon>
    <span>Alle Artikel</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="onAddShoppingList()">
    <mat-icon>playlist_add</mat-icon>
    <span>Neue Liste</span>
  </button>
  <button mat-menu-item (click)="onAddArticle()">
    <mat-icon>add_circle_outline</mat-icon>
    <span>Neuer Artikel</span>
  </button>
</mat-menu>